#{extends 'main.html'/}

<script type="text/javascript">
    var deletePersonActionUrl = #{jsAction @People.delete(':id')/};

    var deletePerson = function(personId) {
        $.ajax({
            'url': deletePersonActionUrl({'id': personId}),
            'type': 'DELETE',
            'success': function(data, textStatus, jqXHR) {
                location.reload();
            },
            'error': function(jqXHR, textStatus, errorThrown) {
                alert('Failed to delete record.');
            }
        })
    }
</script>

<div class="row">
    <div class="span8 offset2">
        <div class="page-header">
            <h1>Simple CRUD Page</h1>
           
        </div>
        #{form @People.create(), class: "form-vertical"}
        <form method="post" action="people" >
            <label>First Name <input name="firstName"/></label>
            <label>Last Name <input name="lastName"/></label>
            <input type="submit" value="Add Person" class="btn"/>
        #{/form}

    #{if !people.isEmpty()}
        <h3>People</h3>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            #{list people, as: 'person'}
                <tr>
                    <td>${person.fullName}</td>
                    <td><button class="btn btn-danger btn-mini" onclick="deletePerson(${person.id});">Delete</button></td>
                </tr>
            #{/list}
        </table>
    #{/if}
    </div>
</div>