#{extends 'main.html'/}

<style type="text/css">
    .instructions { display: none; }
    .instructions li { margin-bottom: 10px; }
    .instructions h2 { margin: 18px 0;}
    .instructions blockquote { margin-top: 10px; }
    .screenshot {
        margin-top: 10px;
        display:block;
    }
    .screenshot a {
        padding: 0;
        line-height: 1;
        display: inline-block;
        text-decoration: none;
    }
    .screenshot img {
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .modal{
        width:800px;
        margin-left:-400px;
        height:650px;
        margin-top: -325px;
    }

    .modal .modal-body {
        text-align: center;
        max-height: 650px;
    }

</style>
<!-- /// -->
<script type="text/javascript">
    <!--
    function appname() {
        return location.hostname.substring(0,location.hostname.indexOf("."));
    }
    // -->
</script>

<div class="row">
<div class="span8 offset2">
<h1 class="alert alert-success">Your app is ready!</h1>

<div class="page-header">
    <h1>Get started with Play!</h1>
</div>

<ul id="tab" class="nav nav-tabs">
    <li class="active"><a id="eclipse-instructions-tab" href="#eclipse-instructions" data-toggle="tab">Use Eclipse</a></li>
    <li><a id="cli-instructions-tab" href="#cli-instructions" data-toggle="tab">Use Command Line</a></li>
</ul>

<div class="tab-content">

<div id="eclipse-instructions" class="instructions tab-pane active">
    <a name="using-eclipse"></a>
    <h1>Using Eclipse:</h1>

    <h2>Step 1. Setup your environment</h2>
    <ol>
        <li>Ensure <a href="http://unicase.blogspot.com/2011/01/egit-tutorial-for-beginners.html">EGit</a> is installed.</li>
        <li><a href="http://download.playframework.org/releases/play-1.2.4.zip">Download</a> and upzip the Play! framework.</li>
        <li>Create an SSH key:
            <ol>
                <li>Go to <code>Window</code> <i class="icon-chevron-right"></i> <code>Preferences</code> <i class="icon-chevron-right"></i> <code>General</code> <i class="icon-chevron-right"></i> <code>Network Connections</code> <i class="icon-chevron-right"></i> <code>SSH2</code></li>
                <li>Choose the <code>Key Management</code> tab</li>
                <li>Click <code>Generate RSA Key...</code>
                    <div class="modal hide" id="addingSshKey">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">x</a>
                            <h3>Generate RSA Key</h3>
                        </div>
                        <div class="modal-body">
                            <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/2-3-adding-ssh-key.png" alt="SSH Eclipse Preferences Window" />
                        </div>
                    </div>
                    <span class="screenshot">
                      <a href="#addingSshKey" data-toggle="modal">
                          <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/2-3-adding-ssh-key.png" alt="SSH Eclipse Preferences Window" width="100" />
                          <i class="icon-zoom-in"></i>
                      </a>
                    </span>
                </li>
                <li>Copy the generated public key in the text box and <a href="https://api.heroku.com/account/ssh" class="btn btn-primary btn-mini">add it to your account</a></li>
                <li>Click <code>Save Private Key...</code>, accepting the defaults</li>
                <li>Click <code>Ok</code></li>
            </ol>
        </li>
    </ol>

    <h2>Step 2. Clone the App</h2>
    <ol>
        <li>Go to <code>File</code> <i class="icon-chevron-right"></i> <code>Import...</code> <i class="icon-chevron-right"></i> <code>Git</code> <i class="icon-chevron-right"></i> <code>Projects from Git</code>
            <div class="modal hide" id="importFromGit">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>Import</h3>
                </div>
                <div class="modal-body">
                    <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/2-1-import.png" alt="Import" />
                </div>
            </div>
                <span class="screenshot">
                  <a href="#importFromGit" data-toggle="modal">
                      <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/2-1-import.png" alt="Import" width="100" />
                      <i class="icon-zoom-in"></i>
                  </a>
                </span>
        </li>
        <li>Choose <code>URI</code> and click <code>Next</code></li>
        <li>Enter <code>git@heroku.com:<script>document.write(appname());</script>.git</code> in the <code>URI</code> field.
            <div class="modal hide" id="cloneGitRepository">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>Clone Git Repository</h3>
                </div>
                <div class="modal-body">
                    <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/3-4-clone-git-repo.png" alt="Clone Git Repository" />
                </div>
            </div>
                <span class="screenshot">
                  <a href="#cloneGitRepository" data-toggle="modal">
                      <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/3-4-clone-git-repo.png" alt="Clone Git Repository" width="100" />
                      <i class="icon-zoom-in"></i>
                  </a>
                </span>
        </li>
        <li>Click <code>Next</code> three times
            <blockquote>
                Click <code>Yes</code> to the question of authenticity if the question appears.
            </blockquote>
        </li>
        <li>Choose <code>Import as general project</code>
            <div class="modal hide" id="importProjectsFromGit">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>Import Projects from Git</h3>
                </div>
                <div class="modal-body">
                    <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/2-6-import-general.png" alt="Import Projects from Git" />
                </div>
            </div>
                <span class="screenshot">
                  <a href="#importProjectsFromGit" data-toggle="modal">
                      <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/2-6-import-general.png" alt="Import Projects from Git" width="100" />
                      <i class="icon-zoom-in"></i>
                  </a>
                </span>
        </li>
        <li>Click <code>Finish</code></li>
    </ol>

    <h2>Step 3. Configure the App</h2>
    <ol>
        <li>Select the imported project</li>
        <li>Go to <code>Preferences</code> <i class="icon-chevron-right"></i> <code>External Tools</code> <i class="icon-chevron-right"></i> <code>External Tools Configuration</code></li>
        <li>Double-click <code>Program</code></li>
        <li>Enter the following values:
            <ul>
                <li>Name: <code>Play Eclipsify</code></li>
                <li>Location: Path to the <code>play</code> executable (or <code>play.bat</code> on Windows) in the Play! directory unzipped above</li>
                <li>Working Directory: <code>&#36;{project_loc}</code></li>
                <li>Arguments: <code>eclipsify</code></li>
            </ul>
            <div class="modal hide" id="playEclipsifyModal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>Play! Eclipsify External Tool Configuration</h3>
                </div>
                <div class="modal-body">
                    <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/play/play-eclipsify-ext-tool.png" alt="Play! Eclipsify External Tool Configuration" />
                </div>
            </div>
            <span class="screenshot">
              <a href="#playEclipsifyModal" data-toggle="modal">
                  <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/play/play-eclipsify-ext-tool.png" alt="Play! Eclipsify External Tool Configuration" width="100" />
                  <i class="icon-zoom-in"></i>
              </a>
            </span>
        </li>
        <li>Click <code>Run</code></li>
        <li>Select the project and choose <code>File</code> <i class="icon-chevron-right"></i> <code>Refresh</code></li>
    </ol>

    <h2>Step 4. Makes some changes to the app</h2>
    <ol>
        <li>Open <code>src/main/java/com/example/services/TimeService.java</code></li>
        <li>To add a new resource path that supports specific time zones (e.g. <code>GET /services/time/est</code> for the time in Eastern Standard Time), add this method:
            <pre class="prettyprint once language-java">
@GET
@Path("/{timezone}")
public Time get(@PathParam("timezone") String timezone) {
    return new Time(TimeZone.getTimeZone(timezone.toUpperCase()));
}</pre>
        </li>
    </ol>

    <h2>Step 5. Deploy to Heroku</h2>
    <ol>
        <li>Right-click the project root and choose <code>Team</code> <i class="icon-chevron-right"></i> <code>Commit</code></li>
        <li>Enter a commit message and click <code>Commit</code>
            <div class="modal hide" id="commitChanges">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>Commit Changes</h3>
                </div>
                <div class="modal-body">
                    <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/6-5-commit.png" alt="Commit Changes" />
                </div>
            </div>
                <span class="screenshot">
                  <a href="#commitChanges" data-toggle="modal">
                      <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/6-5-commit.png" alt="Commit Changes" width="100" />
                      <i class="icon-zoom-in"></i>
                  </a>
                </span>
        </li>
        <li>Right-click the project root and choose <code>Team</code> <i class="icon-chevron-right"></i> <code>Push to Upstream</code></li>
        <li>Review the push results. At the bottom, a "... deployed to Heroku" message will appear.
            <div class="modal hide" id="pushResults">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">x</a>
                    <h3>Push Results</h3>
                </div>
                <div class="modal-body">
                    <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/6-8-push-result.png" alt="Push Results" />
                </div>
            </div>
                <span class="screenshot">
                  <a href="#pushResults" data-toggle="modal">
                      <img src="https://s3.amazonaws.com/template-app-instructions-screenshots/eclipse/6-8-push-result.png" alt="Push Results" width="100" />
                      <i class="icon-zoom-in"></i>
                  </a>
                </span>
        </li>
    </ol>

    <div class="hero-unit">
        <h1>Done!</h1>
        <p>You've just cloned, modified, and deployed a brand new app.</p>
        <a href="/" class="btn btn-primary btn-large">See your changes</a>
    </div>
</div> <!-- End Eclipse tab-->

<div id="cli-instructions" class="instructions tab-pane">
    <a name="using-cli"></a>
    <h1>Using the Command Line:</h1>

    <h2>Step 1. Setup your environment</h2>
    <ol>
        <li>Install the <a href="http://toolbelt.heroku.com">Heroku Toolbelt</a>.</li>
        <li><a href="http://download.playframework.org/releases/play-1.2.4.zip">Download</a> the Play! framework.</li>
        <li>Unzip the framework and add the directory to your <code>PATH</code>.</li>
    </ol>

    <h2>Step 2. Login to Heroku</h2>
    <code>heroku login</code>
    <blockquote>
        Be sure to create, or associate an SSH key with your account.
    </blockquote>
            <pre>
$ heroku login
Enter your Heroku credentials.
Email: naaman@heroku.com
Password:
Could not find an existing public key.
Would you like to generate one? [Yn] Y
Generating new SSH public key.
Uploading SSH public key /Users/Administrator/.ssh/id_rsa.pub
Authentication successful.</pre>

    <h2>Step 3. Clone the App</h2>
    <code>git clone -o heroku git@heroku.com:<script>document.write(appname())</script>.git</code>

    <h2>Step 4. Makes some changes to the app</h2>
    <ol>
        <li>Open <code>src/main/java/com/example/services/TimeService.java</code> in your favorite editor.</li>
        <li>To add a new resource path that supports specific time zones (e.g. <code>GET /services/time/est</code>
            for the time in Eastern Standard Time), add this method:
            <pre class="prettyprint once language-java">
@GET
@Path("/{timezone}")
public Time get(@PathParam("timezone") String timezone) {
    return new Time(TimeZone.getTimeZone(timezone.toUpperCase()));
}</pre>
        </li>
    </ol>

    <h2>Step 5. Make sure the app still compiles</h2>
    <code>play clean precompile</code>

    <h2>Step 6. Deploy your changes</h2>
    <ol>
        <li><code>git commit -am "New changes to deploy"</code></li>
        <li><code>git push heroku master</code></li>
    </ol>

    <div class="hero-unit">
        <h1>Done!</h1>
        <p>You've just cloned, modified, and deployed a brand new app.</p>
        <a href="/" class="btn btn-primary btn-large">See your changes</a>
    </div>
</div> <!-- End CLI tab -->
</div> <!-- end tab content -->
</div>
</div>